body,html{
    height:100vh;
}

* {
    margin: 0;
}

nav {
    float: left;
}

#navTitle {
    background-color:black;
    color:white;
    height: 20vh;
    width:200px;
    padding:0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#navContent {
    line-height:30px;
    background-color:#eeeeee;
    height:75vh;
    width:200px;
    text-align: center;
    padding:5vh 0 0 0;
}

section {
    height:100vh;
    background-color: rgb(210, 163, 81);
}

.sectionContainer {
    width: 300px;
    background-color: rgb(241, 193, 88);
}

.sectionContainer h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 300px;
    padding: 10px;
}

.normalSection {
    padding:5vh 0 0 250px;
}

.hoverTable {
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.hoverTable tr:hover {
    background-color: rgb(119, 180, 210);
}

table {
    border-spacing: 0;
    -webkit-border-horizontal-spacing:0;
    -webkit-border-vertical-spacing:0;
}

th {
    padding: 0;
}

.inputDesc {
    width:100px;
}

.formButton {
    margin-left: auto;
    margin-right: auto;
    width:50px;
    padding: 10px;
}

.formButton input {
    width:50px;
}