body,html{
   height:100%;
}

* {  
    margin: 0;
}

header {
    text-align: center;
    background-color:black;
    color:white;
    max-height: 20%;
    padding:0;
}

header h1 {
    vertical-align: middle;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    min-height:80%;
    width:200px;
    float:left;
    text-align: center;
    padding:50px 0px 0px 0px;
}

section {
    padding:50px 0px 0px 50px;
}


a { cursor: pointer; color: blue; }
a:hover,a.hover { text-decoration: underline; }