body,html{
   height:100%;
}

* {  
    margin: 0;  
    padding: 0 auto;  
}

header {
    text-align: center;
    background-color:black;
    color:white;
    min-height:20%;
}

header h1 {
	padding: 3%;
    vertical-align: middle;
}

nav {
    line-height:30px;
    background-color:#eeeeee;
    min-height:80%;
    width:200px;
    float:left;
    text-align: center; 
}
section {
    /*width:350px;*/
    float:right;
    padding:10px;	 	 
}


a { cursor: pointer; color: blue; }
a:hover,a.hover { text-decoration: underline; }

h2{
text-align: center;
font-size: 24px;
}